
@import "ember-bootstrap/bootstrap";

// склеитс все в один файл /assets/emberjs-webapp.css (по названию проекта)
@import "./styles";
@import "./tagsinput";
//@import "ember-power-select";

//@import "embercasts-library";

$ember-power-select-border-color: #ccc;
$ember-power-select-background-color: #f8f9fc;
$ember-basic-dropdown-content-background-color: #fff;
$ember-power-select-trigger-ltr-padding: 0.75rem;
$ember-power-select-trigger-rtl-padding: 0.75rem;
$ember-power-select-trigger-default-border-radius: 0.3rem;
$ember-power-select-search-input-border-radius: 0.3rem;
$ember-basic-dropdown-content-font-size: 1.25rem;
//$ember-basic-dropdown-content-line-height: 1.5;
$ember-ember-power-select-selected-item-font-size: 1.25rem;
//$ember-basic-dropdown-content-padding: 0.5rem 1rem;

//font-size: 1.25rem;
//line-height: 1.5;
//
//@import "ember-power-select";

/* ember-power-select component styles
-------------------------------------------------- */

.ember-basic-dropdown-content {
  background-color: #fff;
}

.ember-power-select-trigger {
  line-height: initial;
  min-height: 36px;
}

.ember-power-select-selected-item,
.ember-power-select-placeholder {
  margin-left: 0px;
}

.ember-power-select-search-input {
  padding: 0.5rem;
  height: 36px;
}

.ember-power-select-search-input:focus {
//  border-bottom-color: $c-primary;
}



@import "ember-power-select";
