<select multiple="multiple" data-role="tagsinput" id="inputTags" {{init-input-tags-events this.tags this.tagAdded this.tagRemoved}} >
    {{#each this.tags as |tag|}}
        <option value="{{tag}}" selected="selected">{{tag}}</option>
    {{/each}}
</select>

{{yield}}